body{
    margin: 0;
    padding: 0;
    font-family:Verdana, sans-serif;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.fade {
    position: relative;
    width: 100%;
    height: 50vh;
    top: -20px;
    background-image: linear-gradient(0deg, transparent, black 70%);
    z-index: 1;
}
.StarWars{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    height: 800px;
    color: #fee312;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 6px;
    line-height: 100px;
    perspective: 200px;
    text-align: justify;
}
.title p,h1{
    font-size: 70px;
    line-height: 500px;
    text-transform: uppercase;
}
.title h1{
    margin: 0 0 100px;
}
.title{
    text-align: center;
}
.attack{
    position: relative;
    top: 200px;
    transform-origin: 50% 100%;
    animation: attack 30s linear infinite;
    width: 1600px;
}

@keyframes attack {
    0% {
        top: -100px;
        transform: rotateX(20deg)  translateZ(0);
    }
    100% {
        top: -5000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}
